<div class="galery">
  <div *ngFor="let person of myPeople">
    <div class="card">
      <h1>{{person.name}}</h1>
      <h3>EDAD: {{person.age}}</h3>
      <img class="personPicture" src="{{person.img}}" alt="{{person.img}}">
      <p>PEINADO: {{person.hairStyle}}</p>
      <p>COLOR DE OJOS: {{person.eyeColor}}</p>
      <div class="ownsCar">

      </div>
      <div class="ownsHouse">

      </div>
      <p>Nº DE HIJOS: {{person.kids}}</p>
      <p>Nº DE MASCOTAS: {{person.pets}}</p>
      <p>FRASE CELEBRE: {{person.message}}</p>
    </div>

  </div>

</div>
